#contact-section{
    background-color: rgb(87, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me{
    margin-top: 6%;
    margin-bottom: 3%;
}
.my-contact{
    display: flex;
    justify-content: center;
}
.contact-items{
    width: 350px;
    margin: 10px;
    padding: 10px;
    padding-top: 75px;
    position: relative;
}
.my-contact > .my-email > p > a, .my-contact > .my-phone > p > a, .my-address > address > p{
    color: rgb(0, 27, 27);
}
.img-circle{
    background-color: rgb(8, 151, 151);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
}
.img-circle > img{
    width: 50%;
}
#contact-me{
    background-color: whitesmoke;
    margin-bottom: 3%;
    box-shadow: 5px 8px 13px rgba(3, 120, 120, 0.4);
}
.my-address > address, .my-email, .my-phone{
    text-align: center;
}
.in-touch{
    margin-bottom: 2%;
    margin-top: 2%;
}
.in-touch > h2 > span{
    color: white;
}