h1{
    color: rgb(45, 96, 138);
    font-size: 70px;
    text-align: center;
}
.count{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: rgb(8, 77, 8);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.start, .stop, .restart{
    margin-right: 20px;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.start{
    background-color: green;
}
.stop{
    background-color: red;
}
.restart{
    background-color: rgb(225, 223, 223);
}
