<nav>
    <div class="logo">
        <h1><a href="/">VOXPOSTS</a></h1>
    </div>
    <div class="nav-items">
        <ul class="list-items">
            <li class="nav-list"><a href="">All Article</a></li>
            <li class="nav-list"><a href="">Lifestyle</a></li>
            <li class="nav-list"><a href="">Health</a></li>
            <li class="nav-list"><a href="">Techonogle</a></li>
        </ul>
        <button class="subscribe">SUBSCRIBE</button>
    </div>
</nav>